.aside {
  width: 25rem;
  text-align: center;

  &__menu {
    border: 1px solid $color2;
    margin-bottom: 1rem;
  }

  &__list {
    &-title {
      background: $color2;
      padding: 0.5rem 0;
      font-size: 1.6rem;
      color: $color4;
      font-weight: 400;
      margin-bottom: 1rem;

    }

    &-item {
      position: relative;
      width: 100%;
      margin-bottom: 1rem;

      &:hover .aside__sublist {
        display: block;
      }
    }

    &-link {
      display: block;
      padding: 0.5rem 0;
      font-size: 1.4rem;
      color: $color1;

      transition: color .3s;

      &:hover {
        color: $color2;
      }


    }
  }

  &__sublist {
    display: none;

    &-item {
      transition: all .3s;
    }
  }
}