body {
  background: $color4;
  // background-size: 100% 100%;
  background-position: top center;
  @include ff1;
  @include font($f16, $lh22, 400, $color1);
}

.page {
  position: relative;
}

.btn{
  color: #fff;
  background: $color2;
}

a {
  color: $color1;
}

.container {
  max-width: 108rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.columns{
  &__inner {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
}