body {
  background: $color4;
  // background-size: 100% 100%;
  background-position: top center;
  @include ff1;
  @include font($f16, $lh22, 400, $color1);
}

.page {
  &__global {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color2;
  }

  &__subtitle {
    font-weight: 700;
    color: $color2;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.btn {
  color: #fff;
  background: $color2;
}

a {
  color: $color1;
}

.container {
  max-width: 108rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  ul {
    padding-left: 6rem;
  }

  ul li {
    list-style: disc;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
  }
}

.columns {
  &__inner {
    position: relative;
    display: flex;
    gap: 2rem;
  }
}

.breadcrumb {
  padding: 0 0 1rem;
  color: rgba(37, 37, 37, .7);
  line-height: 2rem;

  &__item {
    display: inline;
    font-size: 1.1rem;
    font-weight: 400;

    &+&::before {
      content: '/\00a0';
      padding-left: 0.5rem;
    }
  }

  &__link {
    color: rgba(37, 37, 37, .7);
    transition: all .3s;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      padding-bottom: 0.5rem;
      color: rgba(37, 37, 37, .9);
    }
  }
}
