body {
  background: $color4;
  // background-size: 100% 100%;
  background-position: top center;
  @include ff1;
  @include font($f16, $lh22, 400, $color1);
}

.page {
  position: relative;
}

.btn {
  color: #fff;
  background: $color2;
}

a {
  color: $color1;
}

.container {
  max-width: 108rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.columns {
  &__inner {
    position: relative;
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    gap: 2rem;
  }
}

.page__title {
  // margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: $color2;
}
.page__subtitle{
  font-weight: 700;
  color: $color2;
}
.page__text{
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.breadcrumb {
  // margin-bottom: .5rem;
  padding: 1rem 0;
  color: rgba(37, 37, 37, .7);
  
  &__item {
    display: inline;
    font-size: 1.1rem;
    font-weight: 400;
    // color: #ACACAC;

    & + &::before{
      content: '/\00a0';
      padding-left: 0.5rem;
      // padding: 0.8rem;
    }
  }

  &__link {
    // color: #ACACAC;
    color: rgba(37, 37, 37, .7);
    transition: all .3s;

    
    &:hover{
      text-decoration: underline;
      color: rgba(37, 37, 37, .9);
    }
  }
}