.header {
  padding-top: 1rem;
  // margin-bottom: 12rem;

  &__logo {
    max-width: 26rem;
  }

  &__inner {
    margin: 0 1rem;
  }

  &__main {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // margin-bottom: 2rem;
    gap: 1rem;
  }

  &__lang {
    display: flex;
    gap: .5rem;
    transform: translateY(25%);
    // margin-left: auto;
  }

  &__title {
    max-width: 59rem;
    text-transform: uppercase;
    color: $color2;
    font-size: 2.2rem;
    font-weight: 700;

    span {
      text-transform: none;
      color: $color2;
      font-size: 1.6rem;
      font-weight: 40;
    }
  }

  &__btn {
    // color: #fff;
    // margin-left: 6rem;
    // font-weight: 600;
    // font-size: 2rem;
    // line-height: 3rem;
    // padding: 11px 43px;
    // border-radius: 5rem;
  }

  &__form {
    position: relative;
    // display: inline-block;
    // border-top: 1px solid $color2;
    border-bottom: 1px solid $color2;

    &-search {
      width: 14rem;
      // width: 18rem;
      // height: 2rem;
      padding-left: .5rem;
      padding-right: 2rem;

      // box-shadow: 0px 10px 17px -3px rgba(0, 0, 0, 0.59);

      &::placeholder {
        color: $color2;
      }
    }

    &-btn {
      position: absolute;
      background: transparent;
      right: 0;
      width: 2rem;

    }
  }

  svg path {
    fill: transparent;
    fill: none;
  }
}


.menu {

  &__list {
    display: flex;
    justify-content: center;
    // gap: 1rem;

    &-item {
      position: relative;
      width: 100%;
      border-top: 1px solid $color2;
      border-bottom: 1px solid $color2;
      // transition: all .3s;


      &:last-child ul>li {
        width: 100%;
      }

      &:first-child ul>li {
        width: 100%;
      }

      &:first-child {}

      &:hover .menu__sublist {
        display: block;
      }

      &:active {}
    }

    &-link {
      display: block;
      background: $color4;
      padding: 1.5rem 1rem;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-align: center;
      font-weight: 500;
      color: $color2;

      transition: all .3s;

      &:hover {
        color: $color4;
        background: $color2;
      }
    }
  }



  &__sublist {
    display: none;
    position: absolute;
    border-top: 1px solid $color2;
    left: 0;
    top: 100%;
    width: 100%;



    &-item {
      width: 40rem;
      // width: 100%;
      background: $color4;
      // border-bottom: 1px solid $color2;

      transition: all .3s;

      &:hover {
        // background: #00335c;
        background: $color2;
      }

    }

    &-link {
      display: block;
      padding: .5rem 1rem;
      color: $color2;
      font-size: 1.3rem;
      text-align: left;
      // border-bottom: 1px solid $color2;

      // width: 100%;
      &:hover {
        color: $color4;

      }
    }
  }

  &__btn {
    display: none;
  }
}