.header {
  padding-top: 1rem;
  margin-bottom: 3rem;

  &__logo {
    max-width: 26rem;
  }

  &__main {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  &__lang {
    display: flex;
    gap: .5rem;
    transform: translateY(25%);
  }

  &__title {
    max-width: 59rem;
    text-transform: uppercase;
    color: $color2;
    font-size: 2.2rem;
    font-weight: 700;
    #author{
      color: $color2 !important;
    }

    span {
      text-transform: none;
      color: $color2;
      font-size: 1.6rem;
      font-weight: 40;
    }
  }

  &__form {
    position: relative;
    border-bottom: 1px solid $color2;

    &-search {
      width: 14rem;
      padding-left: .5rem;
      padding-right: 2rem;

      &::placeholder {
        color: $color2;
      }
    }

    &-btn {
      position: absolute;
      background: transparent;
      right: 0;
      width: 2rem;

    }
  }

  svg path {
    fill: transparent;
    fill: none;
  }
}


.menu {
  &__list {
    display: flex;
    justify-content: center;

    &-item {
      position: relative;
      width: 100%;
      border-top: 1px solid $color2;
      border-bottom: 1px solid $color2;

      &:last-child ul {
        width: 100%;
      }

      &:last-child ul>li {
        width: 100%;
      }

      &:first-child ul>li {
        width: 100%;
      }

      &:hover .menu__sublist {
        display: block;
      }
    }

    &-link {
      display: block;
      background: $color4;
      padding: 1.5rem 1rem;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-align: center;
      font-weight: 500;
      color: $color2;

      transition: all .3s;

      

      &:hover {
        color: $color4;
        background: $color2;
      }
    }
  }


  &__sublist {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    border: 1px solid $color2;

    &-item {
      width: 40rem;
      background: $color4;
      transition: all .3s;

      &:hover {
        background: $color2;
      }
    }

    &-link {
      display: block;
      padding: .5rem 1rem;
      color: $color2;
      font-size: 1.3rem;
      text-align: left;
      width: 100%;

      &:hover {
        color: $color4;

      }
    }
  }

  &__btn {
    display: none;
  }
}