.news {
  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__subtitle {
    font-weight: 500;
    color: $color2;
    transition: all .3s ease;
  }

  &__card {

    &-link {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 2rem 0.5rem;
      transition: all .3s;
    border-bottom: 1px solid rgba(0, 93, 171, .2);

      &:hover {
        color: $color4;
        background: $color2;

        .news__subtitle {
          color: $color4;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    transition: all .3s ease;
    padding: 0;
    &-item {
      margin: 0 auto;
    }
    &:hover{
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #005dab;
    }
  }

  &__list {
    padding-left: 0 !important;

    &-item {
      display: inline;
      list-style-type: none !important;

      &+&::before {
        content: ' ';
        padding-left: 0.5rem;
      }

      &+&+&::before {
        content: '/\00a0';
        padding-left: 0.5rem;
      }
    }

    &-link {
      text-decoration: underline;
      transition: color .3s;

      &:hover {
        color: $color2;
      }
    }

  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-link{
      font-size: 1.4rem;
    }
  }
}